<html>
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div class="wrap">
		<h1>Express + Dookie App</h1>
	</div>

</body>
</html>