normalize()

body
	gradient: #F4F4F4, #EAEAEA
	font-family: font-stack

.wrap
	background: #FFF
	size: 300px
	border-radius: 10px
	margin: 50px auto

h1
	heading: 24px #555
	center()
	padding: 135px 0
