/*
 * ^CLASSES MIXINS
 */

base-classes()
	.clear
		clear: both

	.left
		float: left

	.right
		float: right

	.bold
		bold()

	.italic
		italic()

	.bullet
		list-style: circle

	.hide
		hide()

	.clearfix
		clearfix()