/**
 * ^SETTINGS
 * global 'dookie' variables (use this into your project and specify yours here)
 */
sans-serif = unquote('Arial, Helvetica, sans-serif')
serif = unquote('Georgia, "Times New Roman", serif')
monospace = unquote('Consolas, Inconsolata, "Courier", "Courier New", monospace')

font-stack = sans-serif
font-size = 12px

default-color = #333

// e.g. '../images/'
img-path = ''

vendors ?= moz webkit ms o official

// ie support is disabled by default
ie-support ?= false