/**
 * UTILITY HELPERS
 */

/*
 * Heading mixin
 * e.g. heading: 24px, #F80
 */
heading(size = font-size, color = default-color)
	color: color
	text-rendering: optimizelegibility
	fs: unit(size, px)
	fw: bold
	margin: unit(size/3.2, px) 0

/*
 * TO DO: button(), link(), p(), field()
 */
